/* .heading,.footer{
    text-align:center
} */
.wrapper{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container{
    max-width: 500px;
}
.card{
    padding:40px 20px
}
.btn-wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
}
.hdr{
    text-align:center
}
@media only screen and (max-width:750px){
    .card{
        padding: 30px 10px;
    }
}